In [4]:
import pandas as pd

df = pd.read_csv('Clean_Dataset.csv')

In [5]:
print(df.columns)

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

PreProcessing

In [6]:
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('flight', axis=1)

df['class'] = df['class'].apply(lambda x: 1 if x == 'Business' else 0)

In [7]:
df.stops = pd.factorize(df.stops)[0]

In [8]:
print(df)

         airline source_city departure_time  stops   arrival_time  \
0       SpiceJet       Delhi        Evening      0          Night
1       SpiceJet       Delhi  Early_Morning      0        Morning
2        AirAsia       Delhi  Early_Morning      0  Early_Morning
3        Vistara       Delhi        Morning      0      Afternoon
4        Vistara       Delhi        Morning      0        Morning
...          ...         ...            ...    ...            ...
300148   Vistara     Chennai        Morning      1        Evening
300149   Vistara     Chennai      Afternoon      1          Night
300150   Vistara     Chennai  Early_Morning      1          Night
300151   Vistara     Chennai  Early_Morning      1        Evening
300152   Vistara     Chennai        Morning      1        Evening

       destination_city  class  duration  days_left  price
0                Mumbai      0      2.17          1   5953
1                Mumbai      0      2.33          1   5953
2                Mumbai      0      2.17          1   5956
3                Mumbai      0      2.25          1   5955
4                Mumbai      0      2.33          1   5955
...                 ...    ...       ...        ...    ...
300148        Hyderabad      1     10.08         49  69265
300149        Hyderabad      1     10.42         49  77105
300150        Hyderabad      1     13.83         49  79099
300151        Hyderabad      1     10.00         49  81585
300152        Hyderabad      1     10.08         49  81585

[300153 rows x 10 columns]

In [9]:
df = df.join(pd.get_dummies(df.airline, prefix='airline')).drop('airline', axis=1)
df = df.join(pd.get_dummies(df.source_city, prefix='source')).drop('source_city', axis=1)
df = df.join(pd.get_dummies(df.destination_city, prefix='dest')).drop('destination_city', axis=1)
df = df.join(pd.get_dummies(df.arrival_time, prefix='arrival')).drop('arrival_time', axis=1)
df = df.join(pd.get_dummies(df.departure_time, prefix='departure')).drop('departure_time', axis=1)

In [10]:
print(df)

        stops  class  duration  days_left  price  airline_AirAsia  \
0           0      0      2.17          1   5953            False
1           0      0      2.33          1   5953            False
2           0      0      2.17          1   5956             True
3           0      0      2.25          1   5955            False
4           0      0      2.33          1   5955            False
...       ...    ...       ...        ...    ...              ...
300148      1      1     10.08         49  69265            False
300149      1      1     10.42         49  77105            False
300150      1      1     13.83         49  79099            False
300151      1      1     10.00         49  81585            False
300152      1      1     10.08         49  81585            False

        airline_Air_India  airline_GO_FIRST  airline_Indigo  airline_SpiceJet  \
0                   False             False           False              True
1                   False             False           False              True
2                   False             False           False             False
3                   False             False           False             False
4                   False             False           False             False
...                   ...               ...             ...               ...
300148              False             False           False             False
300149              False             False           False             False
300150              False             False           False             False
300151              False             False           False             False
300152              False             False           False             False

        ...  arrival_Evening  arrival_Late_Night  arrival_Morning  \
0       ...            False               False            False
1       ...            False               False             True
2       ...            False               False            False
3       ...            False               False            False
4       ...            False               False             True
...     ...              ...                 ...              ...
300148  ...             True               False            False
300149  ...            False               False            False
300150  ...            False               False            False
300151  ...             True               False            False
300152  ...             True               False            False

        arrival_Night  departure_Afternoon  departure_Early_Morning  \
0                True                False                    False
1               False                False                     True
2               False                False                     True
3               False                False                    False
4               False                False                    False
...               ...                  ...                      ...
300148          False                False                    False
300149           True                 True                    False
300150           True                False                     True
300151          False                False                     True
300152          False                False                    False

        departure_Evening  departure_Late_Night  departure_Morning  \
0                    True                 False              False
1                   False                 False              False
2                   False                 False              False
3                   False                 False               True
4                   False                 False               True
...                   ...                   ...                ...
300148              False                 False               True
300149              False                 False              False
300150              False                 False              False
300151              False                 False              False
300152              False                 False               True

        departure_Night
0                 False
1                 False
2                 False
3                 False
4                 False
...                 ...
300148            False
300149            False
300150            False
300151            False
300152            False

[300153 rows x 35 columns]

In [11]:
df["airline_Air_India"] = df["airline_Air_India"].astype(int)

In [12]:
print(df)

        stops  class  duration  days_left  price  airline_AirAsia  \
0           0      0      2.17          1   5953            False
1           0      0      2.33          1   5953            False
2           0      0      2.17          1   5956             True
3           0      0      2.25          1   5955            False
4           0      0      2.33          1   5955            False
...       ...    ...       ...        ...    ...              ...
300148      1      1     10.08         49  69265            False
300149      1      1     10.42         49  77105            False
300150      1      1     13.83         49  79099            False
300151      1      1     10.00         49  81585            False
300152      1      1     10.08         49  81585            False

        airline_Air_India  airline_GO_FIRST  airline_Indigo  airline_SpiceJet  \
0                       0             False           False              True
1                       0             False           False              True
2                       0             False           False             False
3                       0             False           False             False
4                       0             False           False             False
...                   ...               ...             ...               ...
300148                  0             False           False             False
300149                  0             False           False             False
300150                  0             False           False             False
300151                  0             False           False             False
300152                  0             False           False             False

        ...  arrival_Evening  arrival_Late_Night  arrival_Morning  \
0       ...            False               False            False
1       ...            False               False             True
2       ...            False               False            False
3       ...            False               False            False
4       ...            False               False             True
...     ...              ...                 ...              ...
300148  ...             True               False            False
300149  ...            False               False            False
300150  ...            False               False            False
300151  ...             True               False            False
300152  ...             True               False            False

        arrival_Night  departure_Afternoon  departure_Early_Morning  \
0                True                False                    False
1               False                False                     True
2               False                False                     True
3               False                False                    False
4               False                False                    False
...               ...                  ...                      ...
300148          False                False                    False
300149           True                 True                    False
300150           True                False                     True
300151          False                False                     True
300152          False                False                    False

        departure_Evening  departure_Late_Night  departure_Morning  \
0                    True                 False              False
1                   False                 False              False
2                   False                 False              False
3                   False                 False               True
4                   False                 False               True
...                   ...                   ...                ...
300148              False                 False               True
300149              False                 False              False
300150              False                 False              False
300151              False                 False              False
300152              False                 False               True

        departure_Night
0                 False
1                 False
2                 False
3                 False
4                 False
...                 ...
300148            False
300149            False
300150            False
300151            False
300152            False

[300153 rows x 35 columns]

In [13]:
df["airline_SpiceJet"] = df["airline_SpiceJet"].astype(int)

In [14]:
print(df)

        stops  class  duration  days_left  price  airline_AirAsia  \
0           0      0      2.17          1   5953            False
1           0      0      2.33          1   5953            False
2           0      0      2.17          1   5956             True
3           0      0      2.25          1   5955            False
4           0      0      2.33          1   5955            False
...       ...    ...       ...        ...    ...              ...
300148      1      1     10.08         49  69265            False
300149      1      1     10.42         49  77105            False
300150      1      1     13.83         49  79099            False
300151      1      1     10.00         49  81585            False
300152      1      1     10.08         49  81585            False

        airline_Air_India  airline_GO_FIRST  airline_Indigo  airline_SpiceJet  \
0                       0             False           False                 1
1                       0             False           False                 1
2                       0             False           False                 0
3                       0             False           False                 0
4                       0             False           False                 0
...                   ...               ...             ...               ...
300148                  0             False           False                 0
300149                  0             False           False                 0
300150                  0             False           False                 0
300151                  0             False           False                 0
300152                  0             False           False                 0

        ...  arrival_Evening  arrival_Late_Night  arrival_Morning  \
0       ...            False               False            False
1       ...            False               False             True
2       ...            False               False            False
3       ...            False               False            False
4       ...            False               False             True
...     ...              ...                 ...              ...
300148  ...             True               False            False
300149  ...            False               False            False
300150  ...            False               False            False
300151  ...             True               False            False
300152  ...             True               False            False

        arrival_Night  departure_Afternoon  departure_Early_Morning  \
0                True                False                    False
1               False                False                     True
2               False                False                     True
3               False                False                    False
4               False                False                    False
...               ...                  ...                      ...
300148          False                False                    False
300149           True                 True                    False
300150           True                False                     True
300151          False                False                     True
300152          False                False                    False

        departure_Evening  departure_Late_Night  departure_Morning  \
0                    True                 False              False
1                   False                 False              False
2                   False                 False              False
3                   False                 False               True
4                   False                 False               True
...                   ...                   ...                ...
300148              False                 False               True
300149              False                 False              False
300150              False                 False              False
300151              False                 False              False
300152              False                 False               True

        departure_Night
0                 False
1                 False
2                 False
3                 False
4                 False
...                 ...
300148            False
300149            False
300150            False
300151            False
300152            False

[300153 rows x 35 columns]

In [15]:
df["airline_Indigo"] = df["airline_Indigo"].astype(int)
df["airline_GO_FIRST"] = df["airline_GO_FIRST"].astype(int)
df["airline_AirAsia"] = df["airline_AirAsia"].astype(int)
df["arrival_Evening"] = df["arrival_Evening"].astype(int)
df["arrival_Late_Night"] = df["arrival_Late_Night"].astype(int)
df["arrival_Morning"] = df["arrival_Morning"].astype(int)
df["arrival_Night"] = df["arrival_Night"].astype(int)
df["departure_Afternoon"] = df["departure_Afternoon"].astype(int)
df["departure_Early_Morning"] = df["departure_Early_Morning"].astype(int)
df["departure_Evening"] = df["departure_Evening"].astype(int)
df["departure_Late_Night"] = df["departure_Late_Night"].astype(int)
df["departure_Morning"] = df["departure_Morning"].astype(int)
df["departure_Night"] = df["departure_Night"].astype(int)

In [16]:
print(df)

        stops  class  duration  days_left  price  airline_AirAsia  \
0           0      0      2.17          1   5953                0
1           0      0      2.33          1   5953                0
2           0      0      2.17          1   5956                1
3           0      0      2.25          1   5955                0
4           0      0      2.33          1   5955                0
...       ...    ...       ...        ...    ...              ...
300148      1      1     10.08         49  69265                0
300149      1      1     10.42         49  77105                0
300150      1      1     13.83         49  79099                0
300151      1      1     10.00         49  81585                0
300152      1      1     10.08         49  81585                0

        airline_Air_India  airline_GO_FIRST  airline_Indigo  airline_SpiceJet  \
0                       0                 0               0                 1
1                       0                 0               0                 1
2                       0                 0               0                 0
3                       0                 0               0                 0
4                       0                 0               0                 0
...                   ...               ...             ...               ...
300148                  0                 0               0                 0
300149                  0                 0               0                 0
300150                  0                 0               0                 0
300151                  0                 0               0                 0
300152                  0                 0               0                 0

        ...  arrival_Evening  arrival_Late_Night  arrival_Morning  \
0       ...                0                   0                0
1       ...                0                   0                1
2       ...                0                   0                0
3       ...                0                   0                0
4       ...                0                   0                1
...     ...              ...                 ...              ...
300148  ...                1                   0                0
300149  ...                0                   0                0
300150  ...                0                   0                0
300151  ...                1                   0                0
300152  ...                1                   0                0

        arrival_Night  departure_Afternoon  departure_Early_Morning  \
0                   1                    0                        0
1                   0                    0                        1
2                   0                    0                        1
3                   0                    0                        0
4                   0                    0                        0
...               ...                  ...                      ...
300148              0                    0                        0
300149              1                    1                        0
300150              1                    0                        1
300151              0                    0                        1
300152              0                    0                        0

        departure_Evening  departure_Late_Night  departure_Morning  \
0                       1                     0                  0
1                       0                     0                  0
2                       0                     0                  0
3                       0                     0                  1
4                       0                     0                  1
...                   ...                   ...                ...
300148                  0                     0                  1
300149                  0                     0                  0
300150                  0                     0                  0
300151                  0                     0                  0
300152                  0                     0                  1

        departure_Night
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
300148                0
300149                0
300150                0
300151                0
300152                0

[300153 rows x 35 columns]

Training Regression Model

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

X, y = df.drop('price', axis=1), df.price

In [19]:
y

0          5953
1          5953
2          5956
3          5955
4          5955
          ...
300148    69265
300149    77105
300150    79099
300151    81585
300152    81585
Name: price, Length: 300153, dtype: int64